.container
	width: 90%
	max-width: 1060px
	margin: 0 auto
	display: block
	position: relative
	+clearfix
	overflow: visible

button
	border: 3px solid $branco
	padding: 15px 20px
	background: transparent
	color: $branco
	font-weight: 700
	font-size: 15px
	cursor: pointer

a
	cursor: pointer


.close
	display: none