.passo-passo
	+clearfix
	padding-bottom: 40px
	display: inline-block
	margin: 0 auto
	text-align: center

	.passo
		float: left
		width: 120px
		background: $cinza
		color: $branco
		text-align: center
		padding: 10px
		position: relative
		overflow: visible
		height: 80px
		font-size: 19px
		margin: 15px
		line-height: 1.5

		&:after
			background: url('../img/seta-servicos-cinza.png')

		&.active
			background: $verde
			color: $branco
			.num
				background: $branco
				color: $verde
				border: 5px solid $verde
			&:after
				background: url('../img/seta-servicos.png')
		
		

		&:nth-of-type(3), &:nth-of-type(2)
			margin-left: 115px
			&:after
				content: ''
				width: 84px
				height: 35px
				position: absolute
				left: -104px

		.num
			background: $branco
			color: $cinza
			border: 5px solid $cinza
			+border-radius(50px)
			font-size: 25px
			width: 50px
			height: 50px
			line-height: 50px
			margin: 0 auto
			position: absolute
			bottom: -25px
			left: 50%
			margin-left: -25px


	.passo2.active &:after
		+rotateZ(180deg)
		
#compras-casadas
	padding: 120px 0px

	.container
		+clearfix

	h1
		font-size: 29px
		margin: 40px 0px
		color: #4e4e4e

	a.prosseguir
		background: $verde
		float: right
		padding: 15px
		color: $branco
		text-decoration: none
		font-weight: 700
		font-family: $lato
		margin: 30px 0px

	.container
		text-align: center

	

	.servicos
		+clearfix
		display: inline-block
		> li
			width: 280px
			background: url('../img/box-servicos.jpg')
			+box-sizing(border-box)
			float: left
			color: $branco
			margin: 10px 36px

			img
				height: 153px
				margin: 10px 0px

			h1
				color: $branco
				text-transform: uppercase
				font-weight: 600

			> ul li
				padding: 5px
				margin: 10px 0px
				line-height: 1.4

			.check
				

				.orcamento
					padding: 20px 10px
					background: rgba(0,0,0,0.3)
					text-align: center
					+user-select(none)
					cursor: pointer 

					&:before
						content: 'X'
						width: 20px
						height: 20px
						text-align: center
						border: 1px solid $branco
						+box-sizing(border-box)
						line-height: 15px
						padding: 2px
						+border-radius(5px)
						display: inline-block
						font-size: 13px
						color: transparent
					&.checked
						&:before
							color: $branco



