#compra
	padding: 120px 0px

	.container
		+clearfix
		text-align: center

	h1
		font-size: 29px
		margin: 40px 0px
		color: #4e4e4e

	form
		button.finalizar
			background: $verde
			border-color: $verde
			margin: 20px 0px
			font-size: 20px
			font-family: $lato

		.box
			width: 80%
			margin: 0 auto
			
			&.tabs 
				.compra-cartao
					display: none
					
				#bandeiravisa
					margin-left: 20px
					
				#bandeiramaster
					margin-left: 15px
					
				.bandeiras
					margin-top: 25px
					text-align: left
					
					input[type="radio"]
						height: 14px
					
				.op-payment
					li
						display: inline-block
						width: 49%
						text-align: center
						height: 60px
						background: rgba(238, 203, 34, 0.22)
						line-height: 60px
						font-weight: 400
						
						&.selecionado
							border: 2px
							border-color: #FFC800
							border-style: solid
						
				.complemento1, .complemento2
					float: left
					margin-top: 30px
					
					#validade-cartao-mes
						width: 55px
						margin-right: 3px
				
					#validade-cartao-ano
						width: 83px
					
					label
						display: block
					
				.complemento2
					margin-left: 33px
				
				
			    
				
			
			p
				padding: 15px
				background: #f8fef7
				color: #2b7304
				font-weight: 600
				font-size: 15px
				line-height: 1.4
			.title
				background: $azul-escuro
				padding: 15px 10px
				margin-bottom: 30px
				
				h2
					font-size: 20px
					font-family: $lato
					text-align: center
					font-weight: 600
					color: $branco

					span
						font-weight: 300
						font-size: 14px


			.content
				+clearfix
				
			.esq, .dir
				margin-top: 30px	
					
			.esq
				width: 48%
				float: left


			.dir
				width: 48%
				float: right

			.termos
				margin-bottom: 30px
				+clearfix

				input
					float: left
					margin-left: 10px
					margin-right: 10px
				label
					float: left
					line-height: 50px

					a
						font-weight: 600
						color: $azul-escuro


			.url
				background: #fcf9f1
				+clearfix
				padding: 20px
				margin: 10px 0px
				.field
					float: left
					width: 300px

					input
						width: 100%

					label
						display: block

				.bb
					float: left
					margin-left: 5px
					font-size: 25px
					line-height: 93px

				.disponibilidade
					float: left
					button
						background: transparent
						color: $verde
						border-color: $verde
						margin: 15px 20px


			.endereco
				width: 100%
				margin: 10px 0px

				.address
					width: 50%
					input
						width: 100%

				.cep, .address, .number
					display: inline-block
					margin: 5px 10px




					label
						display: block

				
				

			input
				height: 40px
				border: 2px solid $azul-escuro
				margin: 5px 0px
				font-size: 16px

			label
				text-align: left
				color: $azul-escuro




			.esq, .dir
				text-align: left
				

				input
					width: 100%
					

+media-query(medium)

	.passo-passo
		display: none

	#compra form .box 
		.url 
			.field
				width: 47%

			.disponibilidade
				float: none
				display: block
				margin: 10px auto
				width: 262px

		.dir, .esq, .endereco
			display: block
			float: none
			margin-top: 5px
			width: 100%

			.cep, .address
				display: block
				width: 100%
				margin: 10px 0px


		input
			width: 100%

	#title-escolha-bandeira
		display: block

+media-query(small)

	#compra form .box 
		.url 
			.field
				width: 100%

			.disponibilidade
				float: none
				display: block
				margin: 10px auto
				width: 262px

					