header.account
	background: #609AD2
	color: $branco
	height: 150px
	position: relative

	.logo
		margin-top: 15px
		
	.icon-sair
		height: 22px
		width: 22px
		background: url('../img/logout-icon.png') bottom no-repeat
		display: inline-block
		padding-top: 5px

	.divisao-azul
		width: 1920px
		height: 81px
		bottom: -81px
		position: absolute
		left: 50%
		margin-left: -960px
		background: url('../img/nuvens/divisao-conta.png') top center

	nav 
		.bemvindo
			background: darken($azul-escuro, 5%)
			padding: 17px 10px
			text-transform: uppercase
			color: $azul
			font-weight: 700
			font-size: 18px
			font-family: $lato
			+border-radius(5px)
			display: inline-block
			margin-left: 17px

			// &:after
			// 	width: 0
			// 	height: 0
			// 	border-style: solid
			// 	border-width: 20px 0px 20px 200px
			// 	border-color: transparent transparent transparent darken($azul-escuro, 5%)
			// 	content: ''

			span
				text-transform: none
				font-weight: 300
		ul
			li:last-child
				position: relative
				
				&:hover
					.icon-sair
						display: none
				
			li a
				color: $branco

				&:hover, &.active
					background: $branco
					color: $azul


.nuvens-bg
	background: url('../img/nuvens/bg-nuvens.jpg') center
	+transition(1s ease-out)


#boleto-nf
	position: fixed
	top: 0
	width: 100vw
	height: 100vh
	background: $azul
	text-align: center
	color: $branco
	left: -100vw
	z-index: 999999999999
	+transition(0.5s ease-out)
	overflow-y: scroll


	.container
		position: relative
		padding: 60px 0px
		
		#print-document
			img
				width: 82%
				
		.print-icon
			position: absolute
			left: 95%
			top: 23%
			display: block
			
			img
				height: 40px
				

		h1
			font-size: 30px
			margin: 20px 0px

		h2
			font-size: 17px
			font-weight: 300
			margin: 20px 0px

		form
			width: 70%
			margin: 0 auto
			+clearfix

			input
				width: 4%
				height: 16px
				margin: 10px 0px 20px 0px
				font-size: 15px
				font-weight: 200

		.center
			display: block
			width: 100%
			text-align: left
			padding: 10px
			+box-sizing(border-box)
			label
				padding-left: 5px


			label
				webkit-touch-callout: none
				-webkit-user-select: none
				-khtml-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none
				cursor: pointer
				margin-right: 10px

			span
				margin-right: 10px

		button
			background: $azul
			border-color: #FFFFFF
			width: 50%
			margin: 20px 0px


		.close
			width: 30px
			height: 30px
			font-size: 20px
			line-height: 26px
			color: $branco
			border: 1px solid $branco
			position: fixed
			top: 20px
			right: 20px
			text-align: center
			font-weight: 300
			+border-radius(50px)
			background: #5c91c4


#formulario-alterar-pacote
	position: fixed
	top: 0
	width: 100vw
	height: 100vh
	background: $azul
	text-align: center
	color: $branco
	left: -100vw
	z-index: 999999999999
	+transition(0.5s ease-out)
	overflow-y: scroll


	.container
		position: relative
		padding: 60px 0px

		h1
			font-size: 30px
			margin: 20px 0px

		h2
			font-size: 17px
			font-weight: 300
			margin: 20px 0px

		form
			width: 70%
			margin: 0 auto
			+clearfix

			input
				width: 4%
				height: 16px
				margin: 10px 0px 20px 0px
				font-size: 15px
				font-weight: 200

		.center
			display: block
			width: 100%
			text-align: left
			padding: 10px
			+box-sizing(border-box)
			label
				padding-left: 5px


			label
				webkit-touch-callout: none
				-webkit-user-select: none
				-khtml-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none
				cursor: pointer
				margin-right: 10px

			span
				margin-right: 10px

		button
			background: $azul
			border-color: #FFFFFF
			width: 50%
			margin: 20px 0px


	.close
		width: 30px
		height: 30px
		font-size: 20px
		line-height: 26px
		color: $branco
		border: 1px solid $branco
		position: fixed
		top: 20px
		right: 20px
		text-align: center
		font-weight: 300
		+border-radius(50px)
		background: #5c91c4
		

#formulario-editar-dados
	position: fixed
	top: 0
	width: 100vw
	height: 100vh
	background: $azul
	text-align: center
	color: $branco
	left: -100vw
	z-index: 999999999999
	+transition(0.5s ease-out)
	overflow-y: scroll


	.container
		position: relative

		h1
			font-size: 30px
			margin: 20px 0px

		h2
			font-size: 17px
			font-weight: 300
			margin: 20px 0px

		form
			width: 70%
			margin: 0 auto
			+clearfix

			label
				display: block
				padding-left: 5px

			input
				width: 50%
				height: 40px
				margin: 10px 0px 20px 0px
				font-size: 15px
				font-weight: 200

		.center
			display: block
			width: 100%
			text-align: left
			padding: 10px
			+box-sizing(border-box)
			label
				padding-left: 5px


			label
				webkit-touch-callout: none
				-webkit-user-select: none
				-khtml-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none
				cursor: pointer
				margin-right: 10px

			span
				margin-right: 10px

		button
			background: $azul
			border-color: #FFFFFF
			width: 50%
			margin: 20px 0px


	.close
		width: 30px
		height: 30px
		font-size: 20px
		line-height: 26px
		color: $branco
		border: 1px solid $branco
		position: fixed
		top: 20px
		right: 20px
		text-align: center
		font-weight: 300
		+border-radius(50px)
		background: #5c91c4

#div-esquerda
	float: left
	width: 29%
	line-height: 69px
	margin-right: -6%
	text-align: right

#minha-conta
	padding: 100px 0px 50px 0px
	background: url('../img/nuvens/bg-nuvens.jpg') center
	+transition(1s ease-out)

	.box
		margin: 20px 0px
		.title, .title2
			background: $azul
			color: $branco
			text-align: center
			padding: 10px 
			position: relative

			h2
				font-weight: 700

			a
				position: absolute
				right: 10px
				top: 10px
				color: white
				text-decoration: underline

		.title2
			background: lighten($azul, 10%)


		.info
			background: rgba(211, 211, 211, 0.38)
			+clearfix
			padding: 15px
			position: relative
			display: block
			
			.clear
				clear: both
			
			&.info-nf
				padding: 0

			&:nth-of-type(2)
				background: rgba(211, 211, 211, 0.48)

			&:nth-of-type(3)
				background: rgba(211, 211, 211, 0.58)
			
			.div-voltar-boleto
				text-align: center
		
				.voltar-boleto
					color: #CEAA55
					text-decoration: underline
					font-size: 13px
				
			#div-codigoseguranca
				width: 50%
				float: left
		
			#div-validade
				width: 50%
				float: right
				margin-right: -12%
			
				#validade-cartao-mes
					width: 30%
			
				#validade-cartao-ano
					width: 40% 
			

		
			input[type="text"]
				height: 38px
				width: 90%
				background: #E8E8E5
				font-size: 15px
				font-weight: 300
				color: #545454

			a.wrap
				text-align: center
				text-decoration: none
				display: block
				padding: 15px
				cursor: pointer
				h4
					color: $cinza
					font-weight: 700
					font-size: 20px
				h5
					font-size: 18px
					color: $branco
					padding: 15px
					background: $verde
					margin: 20px

				&:hover
					background: rgba(211, 211, 211, 1)
				

			ul
				li
					margin: 10px 0px

					span
						color: $azul-escuro
						font-weight: 700



					a
						background: #b35bd0
						padding: 10px
						font-size: 13px
						text-decoration: none
						color: white
						cursor: pointer

			.h-left, .h-right
				padding: 0

				select
					background: lighten($cinza, 16%)
					padding: 10px
					webkit-appearance: none
					color: $branco
					font-size: 16px
					width: 100%
					height: 40px


				span
					display: block
					color: $dark
					font-weight: 600
					font-size: 16px
					margin: 10px 0px

					&.desconto
						color: lighten($cinza, 10%)
						text-decoration: line-through
						font-size: 14px
						text-align: center

				.price
					padding: 10px
					background: #8a8a8a
					color: $branco
					display: block
					width: 70%
					margin: 0 auto
					text-align: center
					font-size: 25px
					font-weight: 700
					span 
						color: $branco
						display: inline
						font-size: 13px
						margin: 0
						font-weight: 300

				button
					background: $verde
					border-color: $verde 
					margin: 20px auto
					display: block
					width: 80%

	.container
		+clearfix()

	.h-left
		width: 49%
		float: left
		+box-sizing(border-box)
		padding: 15px

	.h-right
		width: 49%
		float: right
		+box-sizing(border-box)
		padding: 15px

+media-query(large)

	header.account
		background: $azul-claro
		height: 100%
		position: fixed
		.divisao-azul
			display: none

+media-query(medium)

	#formulario-editar-dados
		.container
	
				
			form
				input
					width: 70%

	#boleto-nf
		.container
			.print-icon
				display: none !important
		
	
	#minha-conta

		.h-left, .h-right
			display: block
			float: none
			width: 100%
			
+media-query(small)

	#formulario-alterar-pacote
		.container
			form
				margin: 0 auto
				width: 100%

				button
					width: 70%
	
	#formulario-editar-dados
		.container
			form
				input
					width: 100%
	
	#minha-conta
		.box
			.title
				a
					font-size: 10px
					
			.info
				ul
					li
						a
							display: block
							width: 40%
							text-align: center
							margin-top: 10px
							