#dashboard
	padding: 120px 0px
	background: url('../img/nuvens/bg-nuvens.jpg') center
	+transition(1s ease-out)

	.seta
		+clearfix
		margin: 20px 0px
		background: #d2d1d1
		position: relative

		.h-l
			width: 35%
			background: $cinza
			float: left
			height: 190px
			+box-sizing(border-box)
			padding: 20px

			#voltar-boleto
				color: #CEAA55
				background: transparent
				text-decoration: underline
				font-size: 13px
				display: inline
				padding: 0px
				
			&:after
				width: 0
				height: 0
				border-style: solid
				border-width: 95px 0px 95px 60px
				border-color: transparent transparent transparent $cinza
				position: absolute
				left: 35%
				top: 0px
				content: ''
			
			h1
				color: $branco
				font-size: 23px
				font-weight: 700
				margin: 10px 0px
				font-family: $lato 

			a
				padding: 15px
				background: #474646
				color: #acc1d5
				font-weight: 700
				margin-top: 30px
				display: inline-block
				font-family: $lato


			p
				color: #cdcdcd
				font-size: 15px
				margin: 10px 0px
				line-height: 18px

		.h-r
			+box-sizing(border-box)
			padding: 10px 20px
			float: right
			width: 60%
			margin-top: -4px
			+clearfix
			
			
			.div-codigoseguranca
				width: 50%
				float: left
			
			.div-validade
				width: 50%
				float: right
				margin-right: -12%
				
				.validade-cartao-mes
					width: 30%
				
				.validade-cartao-ano
					width: 40% 
				
					
			
			input[type="text"]
				height: 38px
				width: 90%
				background: #E8E8E5
				font-size: 15px
				font-weight: 300
				color: #545454
			
			
			.pacote, .pagamento
				float: left
				margin: 15px 40px 10px
				text-align: center
				padding-top: 10px
				color: $branco

				h3
					margin: 5px 0px
					padding: 5px
					font-size: 16px

				h2
					font-size: 20px
					margin: 10px 0px

				.venc, a
					font-size: 14px
					padding: 10px
					background: rgba(0,0,0,0.6)
					display: block
					color: $branco

			.pacote
				background: $azul
			
			.pagamento
				background: #2aa90c
				float: right

			.h-left, .h-right
				padding: 0
				width: 48%
				float: left

				&.h-right
					float: right

				select
					background: lighten($cinza, 16%)
					padding: 10px
					webkit-appearance: none
					color: $branco
					font-size: 16px
					width: 100%
					height: 42px


				span
					display: block
					color: $dark
					font-weight: 600
					font-size: 16px
					margin: 10px 0px

					&.desconto
						color: lighten($cinza, 10%)
						text-decoration: line-through
						font-size: 14px
						text-align: center

				.price
					padding: 10px
					background: #8a8a8a
					color: $branco
					display: block
					width: 70%
					margin: 0 auto
					text-align: center
					font-size: 25px
					font-weight: 700
					span 
						color: $branco
						display: inline
						font-size: 13px
						margin: 0
						font-weight: 300

				button
					background: $verde
					border-color: $verde 
					margin: 20px auto
					display: block
					width: 80%
					


+media-query(large)
	#dashboard
		.seta
			.h-r, .h-l
				float: none
				display: block
				width: 100%
				text-align: center
				
				a
					font-size: 14px

				&:after
					border-color: transparent

				.pacote, .pagamento
					width: 70%
					margin: 10px auto
					float: none
					
					
+media-query(small)
	#dashboard
		.seta
			.h-r, .h-l
			 
				.cartao-dashboard-mobile
					float: none
					width: 100%
	
				.div-validade
					float: none
					width: 100%
	
					.validade-cartao-mes
						width: 35%

					.validade-cartao-ano
						width: 54% 

				.div-codigoseguranca
					float: none
					width: 100%
	