#faq
	padding: 120px 0px
	h1
		text-align: center
		font-size: 25px
		font-weight: 600
		color: $azul
		margin-bottom: 50px

		.int1, .int2, .int3
			display: inline-block

		.int1
			font-size: 40px
			+rotateZ(-23deg)
			margin-left: 20px

		.int2
			font-size: 100px
			margin: 10px
			+rotateZ(20deg)

		.int3
			font-size: 30px
			margin: 5px
			+rotateZ(10deg)

	ul 
		border: 2px solid #dad9d9
		border-right: none
		border-left: none
		li
			padding: 30px 15px 
			border-bottom: 2px solid #dad9d9
			position: relative
			font-family: $lato
			&:after
				position: absolute
				content: '+'
				width: 30px
				height: 30px
				right: 0px
				top: 30px
				font-weight: 800
				+border-radius(40px)
				background-color: $verde
				color: $branco
				font-size: 35px
				text-align: center
				line-height: 28px


			p
				font-size: 22px
				span
					font-weight: 700
					font-size: 28px

			.answer
				
				height: 0
				overflow: hidden
				+transition(0.3s ease-out)
				p
					font-size: 14px
					line-height: 1.4
					span
						font-weight: 600
						font-size: 14px

			&.open
				background-color: rgba(146,146,146,0.11)
				.answer
					height: auto
					padding: 20px


				&:after
					content: '-'
					background-color: #ed1c24
					line-height: 24px


+media-query(medium)
	#faq
		ul li p
			font-size: 16px