html, body
	width: 100%
	overflow-x: hidden
	padding: 0
	margin: 0
	
	.cd-top
		visibility: hidden
		opacity: 0
		position: fixed
	
	.cd-is-visible
		position: fixed
		height: 90px
		width: 70px
		right: 2%
		bottom: 20%
		visibility: visible
		opacity: 1
		background: url('../img/btn-top.png')
		z-index: 999999999999999999999

	.cd-fade-out
		opacity: .5


section#preloader
	position: fixed
	width: 100vw
	height: 100vh
	z-index: 99999999999999999999999999999
	background: url('../img/load-bg.jpg') white

	.container
		padding: 50px 0px

	.logo
		margin: 20px auto
		text-align: center

		img
			max-width: 100%

	.load 
		margin: 20px auto
		text-align: center




.div-setinha	
	height: 30px
	width: 30px
	position: relative
	left: 50%
	margin-left: -9px
	top: 13px
	z-index: 999
	
	#setinha2	
		top: -80px
		position: absolute


header
	background: $branco
	padding: 15px 0px
	height: 115px
	+box-sizing(border-box)

	.logo
		float: left
		width: 25%

		img
			width: 100%
			min-width: 121px
			max-width: 242px

	nav
		float: right
		width: 74% 
		margin-right: -12%
		ul
			.login-mobile
				display: none
				
				label
					display: block
					
				button
					display: block

				input
					display: block
					position: relative
					left: 35%
					
				
			li
				display: inline-block
				line-height: 85px
				font-size: 16px
				margin: 0 10px
				font-family: $lato

				a
					text-decoration: none
					text-transform: uppercase
					font-weight: 700
					color: $dark
					+border-radius(30px)
					padding: 10px

					&.active, &:hover
						background: $azul
						color: $branco

#title-login-mobile

	&:hover
		backgtound: transparent

.form-login-mobile
		
	label
		font-size: 12px
		color: #666
		margin-left: -21%
		margin-bottom: -2%
		
	a
		display: block
		text-transform: lowercase !important
		text-decoration: underline !important
		font-weight: normal !important
		color: #404040 !important
		margin-left: 2%
		font-size: 14px
		cursor: pointer
		
		&:hover
			background: transparent !important
			color: #609ad2 !important		
		
	input[type="submit"]
		border: 0px !important
		display: block !important
		height: 36px !important
		width: 84px !important
		background: #404040 !important
		margin-left: 5%
		font-size: 16px !important
		color: #f8f2f2 !important
		
          
.esqueci-senha
	display: block
	text-transform: lowercase !important
	text-decoration: underline !important
	font-weight: normal !important
	color: #404040 !important
	margin-left: 145px !important
	font-size: 15px !important
	margin-top: -5px !important
	margin-bottom: 9px !important
	cursor: pointer

	&:hover
		background: transparent !important
		color: #609ad2 !important				
						
.hover-login
	position: relative
	
	a
		cursor: default
	
	.div-login
		display: none
		position: absolute !important
		left: -260px !important
		top: 63px !important
		background: url('../img/balloon_login.png') !important
		height: 290px !important
		width: 362px !important
		margin: 0 !important
		padding: 0 !important
		z-index: 999999 !important
		
		.form-login
			margin-left: 32px !important
			line-height: 23px !important
			margin-top: 32px !important
			
			label
				font-size: 15px !important
				color: #000
				float: left
			
			input[type="text"]
				margin-bottom: 3px !important
			
			input[type="password"], input[type="text"]
				display: block !important
				height: 42px !important
				width: 294px !important
				font-size: 15px !important
				font-weight: 200 !important
				padding-left: 10px !important
				padding-right: 10px	 !important		
					
			input[type="submit"]
				border: 0px !important
				display: block !important
				height: 36px !important
				width: 84px !important
				background: #404040 !important
				margin-left: 209px !important
				font-size: 16px !important
				color: #f8f2f2 !important
		
	&:hover
		.div-login
			display: block !important
		

  
  
.nuvens-escuras
	height: 200px
	.escuro-esq
		background: url('../img/nuvens/escuro-esq.png')
		width: 270px
		height: 130px
		position: absolute
		left: 0
		top: 0
		+scale(1)

	.escuro-centro
		background: url('../img/nuvens/escuro-centro.png') right
		width: 450px
		height: 127px
		position: absolute
		right: 300px
		top: 0
		+scale(1)

	.escuro-dir
		background: url('../img/nuvens/escuro-dir.png')
		width: 254px
		height: 148px
		position: absolute
		right: 0
		top: 0
		+scale(1)



#inicio
	background: $azul
	min-height: 600px
	padding-top: 80px
	color: $branco
	text-align: center
	position: relative
	max-width: 100%
	overflow: hidden

	.container
		min-height: 600px
		overflow: visible
		z-index: 9999

	h1
		font-size: 29px
		z-index: 99999

	h3
		font-size: 16px
		max-width: 490px
		line-height: 1.3
		font-weight: 300
		margin: 30px auto
		z-index: 99999

	a
		display: inline-block
		margin: 0 auto

	button
		min-width: 400px
		z-index: 99999

	.divisao
		background: url('../img/divisao-branca.png') top center
		height: 251px
		bottom: 0
		position: absolute
		width: 1920px
		left: 50%
		margin-left: -960px

	.icones
		background: url('../img/icons-header.png')
		width: 539px
		height: 384px
		position: absolute
		right: -20px
		top: 5px
		z-index: -10

	.nuvem-branca
		background: url('../img/nuvens/brancas-home.png')
		width: 505px
		height: 385px
		position: absolute
		left: -40px
		top: 31px
		z-index: -10

	.n-azul
		background: url('../img/nuvens/azul-escuro.png') 100% 100%
		width: 190px
		height: 162px
		z-index: -9999
		position: absolute
	
		
		&.n-azul-1
			left: 185px
			+scale(0.5)
			top: 200px

		&.n-azul-2
			right: 30px
			+scale(0.7)
			bottom: 180px

		&.n-azul-3
			right: 3px
			top: 30px

		&.n-azul-4
			left: -20px
			bottom: 160px
			+scale(0.6)




#como-funciona
	position: relative

	.container
		overflow: visible

		h1
			font-size: 29px
			color: $cinza
			text-align: center
			font-weight: 500
			margin: 40px 0px

	.funciona
		+clearfix
		padding: 90px 0px
		.icon
			float: left
			width: 30%
			text-align: center
			img
				opacity: 0


		.texto
			float: left
			width: 65%
			padding-left: 2.5%
			padding-right: 2.5%
			opacity: 0

			.number
				font-size: 69px
				font-weight: 700
				color: $dark


			p
				font-size: 24px
				color: $cinza
				font-weight: 300
				padding: 5px
				line-height: 1.4



		&.funciona-1
			position: relative
			padding-bottom: 170px
			padding-top: 60px
			.divisao-cinza
				background: url('../img/divisao-cinza.png') center 
				height: 182px
				position: absolute
				bottom: -20px
				width: 1920px

		&.funciona-2
			background: #f6f6f6
			padding-bottom: 90px

			.texto
				float: left
				text-align: right
				.number
					text-align: right
			.icon
				float: right

		&.funciona-3
			padding: 120px 0px


#solucoes-azul
	background: $azul-claro
	padding: 35px
	min-height: 1320px

	
	.container
		width: 100%

	#proxima-solucao1
		height: 50px
		width: 50px
		top: 25%
		left: 240px
		background: url(../img/proxima-solucao.png)
		position: absolute
		
	#proxima-solucao2
		height: 50px
		width: 50px
		top: 25%
		left: 499px
		background: url(../img/proxima-solucao.png)
		position: absolute
		display: none
		
	#solucao-pratica
		height: 50px
		width: 54px
		top: 25%
		left: 761px
		background: url(../img/solucao-pratica.png)
		position: absolute
		display: none
		
	.header
		background: $azul-claro
		padding: 15px 0px
		height: 115px
		+box-sizing(border-box)

		.logo
			float: left

		nav
			float: right
			ul

				li
					display: inline-block
					line-height: 85px
					font-size: 16px
					margin: 0 10px
					font-family: $lato

					a
						text-decoration: none
						text-transform: uppercase
						font-weight: 700
						color: $branco
						+border-radius(30px)
						padding: 10px

						&.active, &:hover
							background: $branco
							color: $azul-claro

	h1.mobile
		display: none
		color: $branco
		font-size: 25px
		text-align: center
		margin: 20px 0px

	.solucoes-mobile
		display: none

	.solucoes
		width: 1017px !important


	.solucoes, .solucoes-mobile
		padding-top: 50px
		width: 90%

		.relative
			position: relative
			+clearfix
			
			
		a
			display: block
			width: 100%
			max-width: 400px
			margin: 0 auto
			button
				min-width: 400px

		.mobile
			display: none

		.nuvem
			position: absolute
			background: url('../img/nuvens/nuvem-solucoes.png')
			width: 116px
			height: 92px
			right: 85%
			bottom: 0
			z-index: 999999

		p.text
			font-weight: 400
			width: 90%
			margin: 15px auto
			line-height: 1.5
			font-size: 15px
			color: $branco

			&.indexacao, &.biblioteca
				display: none
		ul
			width: 80%
			margin: 10px auto
			position: relative
			+clearfix
			
			
			.linha
				position: absolute
				width: 80%
				height: 5px
				background: $branco
				top: 130px
				left: 6%
				z-index: 9

			li
				float: left
				width: 23.3333%
				max-width: 184px
				padding: 7px
				background: $azul
				margin: 5%
				height: 100%
				min-height: 184px
				max-height: 184px
				+box-sizing(border-box)
				+border-radius(300px)
				border: 4px solid $branco
				z-index: 99
				position: relative

				h3
					position: absolute
					top: -40px
					color: $branco
					text-align: center
					width: 95%
					font-weight: 700
					font-size: 16px

				.icone
					width: 162px
					background-color: $branco
					height: 162px
					+border-radius(300px)
					+transition(0.3s ease-out)

					&.gestao
						background: url('../img/gestao.png') no-repeat center center $branco
					&.indexacao
						background: url('../img/indexacao.png') no-repeat center center $branco
						+opacity(0)
						+scale(0)
					&.biblioteca
						background: url('../img/biblioteca.png') no-repeat center center $branco
						+opacity(0)
						+scale(0)

#solucoes-branco
	z-index: 1999999999
	position: relative
	width: 100%
	overflow: hidden



	.container
		padding-top: 270px

		.nuvem-esq
			background: url('../img/nuvens/escuro-esq.png')
			width: 270px
			height: 130px
			position: absolute
			left: 0
			top: 500px
			+scale(0.7)

		.nuvem-centro
			background: url('../img/nuvens/escuro-centro.png') right
			width: 262px
			height: 130px
			position: absolute
			right: 0
			top: 350px
			+scale(0.7)

		.nuvem-dir
			background: url('../img/nuvens/escuro-dir.png')
			width: 254px
			height: 148px
			position: absolute
			right: 0
			top: 580px
			+scale(0.7)

		h1
			font-size: 30px
			color: $dark
			text-align: center
			margin: 15px 0px
			font-weight: 300
		
		.video
			width: 540px
			height: 355px
			background: $azul
			+border-radius(20px)
			margin: 50px auto
			display: block
		
		.video iframe
			position: absolute
			margin-top: 18px

		.depoimento
			width: 85%
			margin: 130px auto 
			+clearfix
			.img
				width: 87px
				height: 87px
				float: left
				padding: 10px

			.texto	
				float: left
				width: 85%
				margin-left: 20px

				p
					line-height: 1.5
					font-size: 21px
					color: $dark
					font-weight: 300

				span
					font-weight: 700
					font-size: 18px
					color: $dark
					line-height: 1.8

	.divisao-azul
		background: url('../img/divisao-azul.png') top center
		height: 226px
		top: 0
		position: absolute
		width: 1920px
		left: 50%
		margin-left: -960px


#parceiros
	background: $azul
	padding: 50px 0px
	position: relative
	padding-bottom: 230px
	h1
		font-weight: 300
		color: $branco
		font-size: 29px
		text-align: center
		margin: 50px 0px

	ul
		width: 100%
		margin: 80px auto

		li
			display: inline-block
			margin: 0.5%
			width: 23.3%
			text-align: center

			img
				width: 100%

	a
		display: block
		margin: 30px auto
		width: 100%
		max-width: 400px

		button
			width: 400px



	.divisao-branca
		background: url('../img/divisao-branca.png') top center
		height: 251px
		bottom: 0
		position: absolute
		width: 1920px
		left: 50%
		margin-left: -960px

#pacotes
	padding-bottom: 65px
	overflow: visible
	z-index: -999

	.container
		overflow: visible
	
	h1.mobile
		display: none
		font-size: 40px
		margin: 25px 0px
		color: $azul
		text-align: center
		font-weight: 600


	.header
		background: $branco
		padding: 15px 0px
		height: 115px
		+box-sizing(border-box)

		.logo
			float: left

		nav
			float: right
			ul
				li
					display: inline-block
					line-height: 85px
					font-size: 16px
					margin: 0 10px
					font-family: $lato

					a
						text-decoration: none
						text-transform: uppercase
						font-weight: 700
						color: $dark
						+border-radius(30px)
						padding: 10px

						&.active, &:hover
							background: $azul
							color: $branco
	.planos
		+clearfix
		margin: 50px auto
		width: 100%
	.planos > li
		float: left
		margin: 0 0.5%
		+box-sizing(border-box)
		text-align: center
		width: 24%
		color: $azul

		.top, .bottom
			border: 3px solid $azul
			padding: 15px 10px
			margin: 10px 0px

			h3
				font-weight: 600
				font-size: 17px

			.price
				margin: 30px 0px
				font-size: 90px
				font-weight: 500

				p
					position: relative
					display: inline-block
					margin: 0 auto
					width: 80%

					span
						font-size: 15px
						font-weight: 300
						position: absolute

						&.moeda
							top: 0
							left: 10
							font-weight: 500
							font-size: 20px

						&.mes
							right: 0
							bottom: 0

			.obs
				font-size: 14px
				font-weight: 300

			> ul li
				text-align: left
				font-weight: 300
				margin: 10px 0px
				font-size: 14px


		
		button
			background: $verde
			border-color: $verde
			width: 100%

	.personalizado
		border: 3px solid $azul
		padding: 20px
		+box-sizing(border-box)
		width: 99%
		margin: 0.5%
		+clearfix

		button
			background: $verde
			float: right
			border-color: $verde
			width: 20%

		.text
			float: left
			width: 75%
			color: $azul

			h1
				font-size: 30px

			h2
				font-weight: 300
				font-size: 16px
				margin-top: 10px

#duvida
	background: $azul-escuro
	padding: 65px 0px
	text-align: center
	color: $branco
	overflow: hidden

	h1
		font-size: 35px

	h2
		font-size: 20px
		font-weight: 300
		margin-top: 20px

	button
		margin: 40px auto

#servicos
	padding-top: 40px
	padding-bottom: 65px
	overflow: hidden
	

	.header
		background: $branco
		padding: 15px 0px
		height: 115px
		+box-sizing(border-box)

		.logo
			float: left

		nav
			float: right
			ul
				li
					display: inline-block
					line-height: 85px
					font-size: 16px
					margin: 0 10px
					font-family: $lato

					a
						text-decoration: none
						text-transform: uppercase
						font-weight: 700
						color: $dark
						+border-radius(30px)
						padding: 10px

						&.active, &:hover
							background: $azul
							color: $branco

	h1
		font-size: 25px
		margin: 50px 0px
		color: $dark
		text-align: center

	ul.servicos
		width: 100%
		margin: 0 auto
		+clearfix

		li
			border: 3px solid $azul-escuro
			width: 23.5%
			margin: 0.3%
			float: left
			h2
				padding: 10px 0px
				text-align: center
				color: $azul-escuro

			img
				width: 100%
				height: 125px

			.texto
				background: $azul-escuro
				padding: 10px
				color: $branco
				font-weight: 300
				line-height: 1.3

				p
					margin: 10px 0px

				text-align: center
				button
					margin: 10px 0px


#contato
	background: $azul
	padding: 65px 0px
	text-align: center
	color: $branco
	overflow: hidden

	.header
		background: $azul
		padding: 15px 0px
		height: 115px
		+box-sizing(border-box)
		margin-bottom: 70px

		.logo
			float: left

		nav
			float: right
			ul
				li
					display: inline-block
					line-height: 85px
					font-size: 16px
					margin: 0 10px
					font-family: $lato

					a
						text-decoration: none
						text-transform: uppercase
						font-weight: 700
						color: $branco
						+border-radius(30px)
						padding: 10px

						&.active, &:hover
							background: $branco
							color: $azul

	h1
		font-size: 35px

	h2
		font-size: 20px
		font-weight: 300
		margin-top: 20px

	form.formcontato
		margin: 60px auto
		width: 70%
		label, input
			display: block
			text-align: left

		h2
			margin-bottom: 20px

		label.labelform
			margin-bottom: 10px
			padding-left: 10px
			font-weight: 300
			
		input.inputform
			width: 100%
			height: 40px
			margin-bottom: 20px

		textarea
			width: 100%
			height: 300px
			resize: none
			margin-bottom: 20px

		button.buttonform
			background: $branco
			color: $azul
			padding: 10px 30px
			float: right 


#formulario-esqueceu-senha
	position: fixed
	top: 0
	width: 100vw
	height: 100vh
	background: $azul
	text-align: center
	color: $branco
	left: -100vw
	z-index: 999999999999
	+transition(0.5s ease-out)
	overflow-y: scroll


	.container
		position: relative
		padding: 60px 0px

		h1
			font-size: 30px
			margin: 20px 0px

		h2
			font-size: 17px
			font-weight: 300
			margin: 20px 0px

		form
			width: 70%
			margin: 0 auto
			+clearfix

			label
				margin-top: 4%
				display: block
				padding-left: 5px
				
			input
				width: 50%
				height: 40px
				margin: 10px 0px 20px 0px
				font-size: 15px
				font-weight: 200
				
		.center
			display: block
			width: 100%
			text-align: left
			padding: 10px
			+box-sizing(border-box)
			label
				padding-left: 5px


			label
				webkit-touch-callout: none
				-webkit-user-select: none
				-khtml-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none
				cursor: pointer
				margin-right: 10px

			span
				margin-right: 10px

		button
			background: $azul
			border-color: #FFFFFF
			width: 50%
			margin: 20px 0px


	.close
		width: 30px
		height: 30px
		font-size: 20px
		line-height: 26px
		color: $branco
		border: 1px solid $branco
		position: fixed
		top: 20px
		right: 20px
		text-align: center
		font-weight: 300
		+border-radius(50px)
		background: #5c91c4
		

#formulario
	position: fixed
	top: 0
	width: 100vw
	height: 100vh
	background: #535353
	text-align: center
	color: $branco
	left: -100vw
	z-index: 999999999999
	+transition(0.5s ease-out)
	overflow-y: scroll

	.nuvem-top-esq
		background: url('../img/nuvens/top-esq.png')
		width: 137px
		height: 88px
		position: absolute
		left: -10px
		top: 120px
		+scale(0.7)

	.nuvem-top-dir
		background: url('../img/nuvens/top-dir.png') right
		width: 113px
		height: 78px
		position: absolute
		right: 20px
		top: 65px
		+scale(0.7)

	.nuvem-bottom-esq
		background: url('../img/nuvens/bottom-esq.png')
		width: 224px
		height: 99px
		position: absolute
		left: 5px
		bottom: 40px
		+scale(0.7)

	.nuvem-bottom-dir
		background: url('../img/nuvens/bottom-dir.png')
		width: 86px
		height: 65px
		position: absolute
		right: 15px
		bottom: 150px
		+scale(0.7)

	.container
		position: relative
		padding: 60px 0px

		h1
			font-size: 30px
			margin: 20px 0px

		h2
			font-size: 17px
			font-weight: 300
			margin: 20px 0px

		form
			width: 70%
			margin: 0 auto
			+clearfix

		.left, .right
			float: left
			width: 50%
			padding: 10px
			+box-sizing(border-box)
			text-align: left
			label
				display: block
				padding-left: 5px
		
			input
				width: 100%
				height: 40px
				margin: 10px 0px 20px 0px

		.center
			display: block
			width: 100%
			text-align: left
			padding: 10px
			+box-sizing(border-box)
			label
				padding-left: 5px
			textarea
				width: 100%
				height: 250px
				resize: none
				margin: 10px 0px 20px 0px

		.checks
			padding: 20px 0px
			input
				display: none

				& + label i
					display: inline-block
					width: 19px
					height: 19px
					margin: -1px 4px 0 0
					vertical-align: middle
					background: url(../img/checkbox-no.png) left top no-repeat
					cursor: pointer

				&:checked + label i
					background: url(../img/checkbox-yes.png) left top no-repeat

			label
				webkit-touch-callout: none
				-webkit-user-select: none
				-khtml-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none
				cursor: pointer
				margin-right: 10px

			span
				margin-right: 10px

		button
			background: $verde
			border-color: $verde
			width: 400px
			margin: 20px 0px


	.close
		width: 30px
		height: 30px
		font-size: 20px
		line-height: 26px
		color: $branco
		border: 1px solid $branco
		position: fixed
		top: 20px
		right: 20px
		text-align: center
		font-weight: 300
		+border-radius(50px)
		background: #5c91c4

#formulario-req-demo
	position: fixed
	top: 0
	width: 100vw
	height: 100vh
	background: #535353
	text-align: center
	color: $branco
	left: -100vw
	z-index: 999999999999
	+transition(0.5s ease-out)
	overflow-y: scroll

	.nuvem-top-esq
		background: url('../img/nuvens/top-esq.png')
		width: 137px
		height: 88px
		position: absolute
		left: -10px
		top: 120px
		+scale(0.7)

	.nuvem-top-dir
		background: url('../img/nuvens/top-dir.png') right
		width: 113px
		height: 78px
		position: absolute
		right: 20px
		top: 65px
		+scale(0.7)

	.nuvem-bottom-esq
		background: url('../img/nuvens/bottom-esq.png')
		width: 224px
		height: 99px
		position: absolute
		left: 5px
		bottom: 40px
		+scale(0.7)

	.nuvem-bottom-dir
		background: url('../img/nuvens/bottom-dir.png')
		width: 86px
		height: 65px
		position: absolute
		right: 15px
		bottom: 150px
		+scale(0.7)

	.container
		position: relative
		padding: 60px 0px

		h1
			font-size: 30px
			margin: 20px 0px

		h2
			font-size: 17px
			font-weight: 300
			margin: 20px 0px

		form
			width: 70%
			margin: 0 auto
			+clearfix

		.left, .right
			float: left
			width: 50%
			padding: 10px
			+box-sizing(border-box)
			text-align: left
			label
				display: block
				padding-left: 5px
		
			input
				width: 100%
				height: 40px
				margin: 10px 0px 20px 0px

		.center
			display: block
			width: 100%
			text-align: left
			padding: 10px
			+box-sizing(border-box)
			label
				padding-left: 5px
			textarea
				width: 100%
				height: 250px
				resize: none
				margin: 10px 0px 20px 0px

		.checks
			padding: 20px 0px
			input
				display: none
					
				& + label i
					display: inline-block
					width: 19px
					height: 19px
					margin: -1px 4px 0 0
					vertical-align: middle
					background: url(../img/checkbox-no.png) left top no-repeat
					cursor: pointer
				
				&:checked + label i
					background: url(../img/checkbox-yes.png) left top no-repeat


			label
				webkit-touch-callout: none
				-webkit-user-select: none
				-khtml-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none
				cursor: pointer
				margin-right: 10px

			span
				margin-right: 10px

		button
			background: $verde
			border-color: $verde
			width: 400px
			margin: 20px 0px


	.close
		width: 30px
		height: 30px
		font-size: 20px
		line-height: 26px
		color: $branco
		border: 1px solid $branco
		position: fixed
		top: 20px
		right: 20px
		text-align: center
		font-weight: 300
		+border-radius(50px)
		background: #5c91c4



		
#formulario-req-personal, #novo-chamado
	position: fixed
	top: 0
	width: 100vw
	height: 100vh
	background: #535353
	text-align: center
	color: $branco
	left: -100vw
	z-index: 999999999999
	+transition(0.5s ease-out)
	overflow-y: scroll

	.nuvem-top-esq
		background: url('../img/nuvens/top-esq.png')
		width: 137px
		height: 88px
		position: absolute
		left: -10px
		top: 120px
		+scale(0.7)

	.nuvem-top-dir
		background: url('../img/nuvens/top-dir.png') right
		width: 113px
		height: 78px
		position: absolute
		right: 20px
		top: 65px
		+scale(0.7)

	.nuvem-bottom-esq
		background: url('../img/nuvens/bottom-esq.png')
		width: 224px
		height: 99px
		position: absolute
		left: 5px
		bottom: 40px
		+scale(0.7)

	.nuvem-bottom-dir
		background: url('../img/nuvens/bottom-dir.png')
		width: 86px
		height: 65px
		position: absolute
		right: 15px
		bottom: 150px
		+scale(0.7)

	.container
		position: relative
		padding: 60px 0px

		h1
			font-size: 30px
			margin: 20px 0px

		h2
			font-size: 17px
			font-weight: 300
			margin: 20px 0px

		form
			width: 70%
			margin: 0 auto
			+clearfix

		.left, .right
			float: left
			width: 50%
			padding: 10px
			+box-sizing(border-box)
			text-align: left
			label
				display: block
				padding-left: 5px

			input
				width: 100%
				height: 40px
				margin: 10px 0px 20px 0px

		.center
			display: block
			width: 100%
			text-align: left
			padding: 10px
			+box-sizing(border-box)
			label
				padding-left: 5px
			textarea
				width: 100%
				height: 250px
				resize: none
				margin: 10px 0px 20px 0px

		.checks
			padding: 20px 0px
			input
				display: none
			
				& + label i
					display: inline-block
					width: 19px
					height: 19px
					margin: -1px 4px 0 0
					vertical-align: middle
					background: url(../img/checkbox-no.png) left top no-repeat
					cursor: pointer
		
				&:checked + label i
					background: url(../img/checkbox-yes.png) left top no-repeat


			label
				webkit-touch-callout: none
				-webkit-user-select: none
				-khtml-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none
				cursor: pointer
				margin-right: 10px

			span
				margin-right: 10px

		button
			background: $verde
			border-color: $verde
			width: 400px
			margin: 20px 0px


	.close
		width: 30px
		height: 30px
		font-size: 20px
		line-height: 26px
		color: $branco
		border: 1px solid $branco
		position: fixed
		top: 20px
		right: 20px
		text-align: center
		font-weight: 300
		+border-radius(50px)
		background: #5c91c4

#novo-chamado
	.container .center
		label
			display: block

		input[type="text"]
			width: 100%
			margin: 10px 0px
			height: 40px
		
		
footer
	background: #434343
	padding-top: 70px
	text-align: center
	color: $branco

	ul
		margin: 50px auto
		li
			display: inline-block
			padding: 5px
			border-right: 2px solid $branco

			&:last-of-type
				border: none

			a
				color: $branco

	.bottom
		background: darken(#434343, 10%)
		width: 100%
		padding: 20px 0px
		margin-top: 60px

.mobilehead
	display: none
	width: 100%
	padding: 10px 0px
	background: $branco


+media-query(large)

	.mobilehead
		display: block
		position: fixed
		border-bottom: 2px solid $azul-claro
		z-index: 999999999999

		.button
			width: 50px
			height: 36px
			background: url('../img/menu.png')
			cursor: pointer
			float: left

		.logo
			float: right
			img
				height: 36px
				
	#login-mobile
		display: block !important


	header
		position: fixed
		width: 50%
		top: 0
		z-index: 99999999
		height: 100%
		left: -50%
		padding-top: 70px
		border-right: 2px solid $azul-claro
		+transition(0.3s ease-out)

		&.aberto
			left: 0
			overflow-y: scroll
			
			.hover-login
				display: none

		.container
			overflow-y: scroll


		nav, .logo
			display: block 
			width: 100%
			text-align: center
			margin: 10px 0px

		nav
			ul li
				display: block
				line-height: 36px
				margin: 10px 0px

	#inicio
		padding-top: 140px

		.nuvem-branca, .icones
			display: none

	#solucoes-azul
		.header
			display: none

		h1.mobile
			display: block

		.solucoes
			display: none

		.text-content
			display: none
		
		#proxima-solucao1, #proxima-solucao2, #solucao-pratica
			display: none

		.solucoes-mobile 
			display: block
			margin: 0 auto
			padding-top: 0px


			a
				button 
					width: 100%
					min-width: initial

			.relative
				margin: 0 auto
			.relative ul
				.nuvem, .linha
					display: none
				li
					+border-radius(0)
					border: none
					display: block
					margin: 60px auto
					height: auto
					float: none
					width: 80%
					+clearfix
					background: transparent
					max-width: initial
					max-height: initial

					.icone
						margin: 10px auto

				h3
					display: block
					top: 0
					text-align: center
					position: relative
					width: 100%
	
				.mobile
					display: block
					color: white
					text-align: center
					margin: 20px 0px
					line-height: 1.3
	#solucoes-branco
		z-index: 999
		.nuvem-dir, .nuvem-centro, .nuvem-esq
			display: none
	
	#pacotes, #como-funciona
		h1.mobile
			display: block
		.nuvens-escuras, .header
			display: none

	#servicos .header, #contato .header 
			
		height: 10px
		margin-bottom: 10px
		.container
			display: none
			
	// .img-setinha-solucoes
	// 	height: 20px
	// 	position: relative
	// 	left: -300%

+media-query(medium)

	#formulario
		.nuvem-top-esq
			display: none
		
		.nuvem-top-dir
			display: none
		
		.nuvem-bottom-dir
			display: none
		
		.nuvem-bottom-esq
			display: none
		
		
	#formulario-req-demo
		.nuvem-top-esq
			display: none
	
		.nuvem-top-dir
			display: none
	
		.nuvem-bottom-dir
			display: none
	
		.nuvem-bottom-esq
			display: none
			

	#formulario-req-personal
		.nuvem-top-esq
			display: none
	
		.nuvem-top-dir
			display: none
	
		.nuvem-bottom-dir
			display: none
	
		.nuvem-bottom-esq
			display: none
			

	html .cd-is-visible
		width: 44px
		height: 79px
		opacity: 0.3
		background: url("../img/btn-top-tablet.png")

	.form-login-mobile
		padding: 10px
		margin-bottom: 300px
		label
			margin-left: 0
			margin-bottom: 5px

		input[type="submit"]
			margin: 0 auto
	
	header nav ul .login-mobile input 
		left: 0
		width: 100%
		height: 35px
	
		
	#inicio
		button
			min-width: initial
			width: 100%
	#como-funciona
		.funciona, .funciona.funciona-2
			.icon, .texto
				float: none
				display: block
				margin: 10px auto
				text-align: center
				width: 100%
				.number
					text-align: center
					
	#parceiros
		ul
			li
				margin: 1%
				width: 47%
				
		a
			.btn-parceiros
				width: 100%
				min-width: initial

	#pacotes
		
		.planos 
			> li
				width: 49%
				
		.personalizado
			button
				width: 100%
				margin-top: 15px
	
	#servicos 
		ul.servicos 
			li
				width: 48%
				margin: 5px 0px

	// .img-setinha-solucoes
	// 	height: 30px
	// 	position: relative
	// 	left: -640%
	
	#solucoes-azul
		padding: 5px

		.solucoes-mobile .relative ul
			width: 100%
			li
				width: 100%


+media-query(small)		
	
	#formulario
			
		.container
	
			form
				width: 100%
				
			.left, .right
				width: 100%
				
			button
				width: auto
				
		.checks
			label
				display: block
				margin-top: 15px
			
	#formulario-req-demo
		
		.container
	
			form
				width: 100%
				
			.left, .right
				width: 100%
				
			button
				width: auto
			
		.checks
			label
				display: block
				margin-top: 15px
	
	#formulario-req-personal
		
		.container
		
			form
				width: 100%
				
			.left, .right
				width: 100%
				
			button
				width: auto
			
		.checks
			label
				display: block
				margin-top: 15px
				
	#formulario-esqueceu-senha
		.container
			form
				input, button
					width: 100%
	
	#pacotes
		.planos 
			> li
				width: 99%

	#servicos 
		ul.servicos 
			li
				width: 98%

	// .img-setinha-solucoes
	// 	left: -1190%
		
	.video
		width: 95% !important
		
	.video iframe
		width: 95%