#politicas
  padding-top: 120px
  padding-bottom: 90px
  h1
    font-size: 29px
    margin: 40px 0
    color: #959595
    text-align: center

  .termos
    height: 310px
    background-color: #f6f6f6
    padding: 25px 50px
  
  .texto
    overflow: scroll
    height: 310px

    p
      color: #696969
      font-size: 15px
      margin-bottom: 20px
      line-height: 22px

  .divisao-cinza
    background-color: #ebebeb
    width: 90%
    height: 3px
    margin: 90px auto 30px