#suporte
	padding: 120px 0px
	background: url('../img/nuvens/bg-nuvens.jpg') center
	+transition(1s ease-out)


	.container
		+clearfix

	.single
		width: 65%
		float: left

		.box
			background-color: rgba(146,146,146,0.11)
			border-top: 0


			.title
				background: $azul-escuro
				color: $branco
				padding: 15px
				border-color: $azul-escuro
				font-weight: 600
				text-align: center
				font-family: $lato


			.area
				
				+clearfix
				padding: 20px
				padding-top: 0
				textarea
					width: 70%
					float: left
					height: 100px
					resize: none
					border: 1px solid #c2c2c2
					padding: 5px
					font-size: 15px

				button
					background: #ebebeb
					width: 30%
					height: 100px
					float: right
					font-family: $lato
					color: #c9c9c9
					border: 1px solid #c2c2c2
					border-left: none


			.talk
				border-bottom: 2px solid #ebebeb
				margin: 20px
				max-height: 450px
				overflow-y: scroll
				
				li
					+clearfix
					margin: 15px 0px
					position: relative

				


					.time
						width: 60px
						text-align: center 
						padding: 20px
						+box-sizing(border-box)
						color: #908f8f

					.text
						width: 80%
						padding: 10px
						display: inline-block
						line-height: 1.4
						+border-radius(5px)
						color: #545454


					&.enviado
						.time
							float: left

						.text
							float: left
							margin-left: 10px
							background: #dddcc7

						&:after
							width: 0
							height: 0
							border-style: solid
							border-width: 7px 14px 7px 0px
							border-color: transparent #dddcc7 transparent transparent
							position: absolute
							left: 57px
							top: 20px
							content: ''
					&.recebido
						.time
							float: right

						.text
							float: right
							margin-right: 10px
							background: #97d760

						&:after
							width: 0
							height: 0
							border-style: solid
							border-width: 7px 0px 7px 14px
							border-color: transparent transparent transparent #97d760
							position: absolute
							right: 57px
							top: 20px
							content: ''

	.all
		width: 30%
		float: right

		.new
			background: #d56a59
			width: 100%
			margin-bottom: 20px
			cursor: pointer
			font-family: $lato
			font-size: 17px
			position: relative

			span
				font-size: 45px
				font-weight: 700
				position: absolute
				left: 20px
				top: -4px

		.box
			background-color: rgba(108,108,108,0.13)

			.title 
				background: $azul
				color: $branco
				padding: 15px 10px
				text-align: center
				border-color: #d56a59
				font-weight: 600

			.content
				padding: 10px
				border: 2px solid lighten($cinza, 45%)
				border-top: 0px
				
				.ver-mais
					text-align: center
					width: 100%
					height: 50px
					color: $dark
					display: block
					line-height: 50px
					font-weight: 600

					&:hover
						background: rgba(0,0,0,0.05)
				ul
					li
						padding: 10px 5px
						margin-bottom: 10px
						border-bottom: 2px solid #c2c2c2
						
						.top
							+clearfix
						
							h2
								font-weight: 600
								max-width: 80%
								float: left
								+box-sizing(border-box)
								padding: 5px 0px
								font-size: 17px

							.hr
								float: right
								width: 20%
								padding: 5px
								font-size: 17px
								color: #494a4a
								+box-sizing(border-box)
								text-align: right


						p
							color: #7f8181
							margin: 5px 0px
							line-height: 1.3
							font-size: 14px

						.sticker
							padding: 5px
							display: inline-block
							color: $branco
							font-weight: 600
							font-size: 13px

							&.resolvido
								background: $verde

							&.pendente
								background: $amarelo

+media-query(medium)
	#suporte
		.single, .all
			width: 100%
			display: block
			float: none
			margin: 10px 0px



